body
{
background-color: #FDF5E6;
}
img
{
float:right;
padding-right:20%;
}
.border
{ 
margin:auto;
padding-top:50px;
padding-left:20px;
}
.bar
{
	border: 2px solid #4169E1;
	padding: 5px;
    background: #00FFFF;
    border-radius: 310px;
	display:inline;
    font-size: 25px;
	font-family: sans-serif; 
}
a:link
{
text-decoration:none;
color:#4169E1;
}
a:hover
{
	text-decoration:none;	
}
div.bar:hover
{
	border: 2px solid #4169E1;
	padding: 8px;
    background: #7FFFD4;
    border-radius: 310px;
	display:inline;
    font-size:25px;
}



